name: Lint

on:
  pull_request:

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
      - uses: actions-rs/cargo@v1
        name: "check format"
        with:
          command: fmt
          args: --check
      - uses: actions-rs/cargo@v1
        name: "check lint with clippy"
        with:
          command: clippy
